version: '3.8'

services:
  core:
    image: public.ecr.aws/classic-terra/core:alpine3.17
    build:
      context: ../..
      dockerfile: Dockerfile
      platforms:
        - "linux/amd64"
      labels:
        - "description=Contains the terrad binary"

  ubuntu-core: 
    image: public.ecr.aws/classic-terra/core:v1.1.0-ubuntu22.04
    build:
      context: .
      dockerfile: Dockerfile.ubuntu
      args:
        version: v1.1.0
      platforms:
        - "linux/amd64"
      labels:
        - "description=Contains the terrad binary in ubuntu"
  node:
    image: public.ecr.aws/classic-terra/node:alpine3.17
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        base_image: public.ecr.aws/classic-terra/core
        version: alpine3.17
      platforms:
        - "linux/amd64"
      labels:
        - "description=Contains everything to run a full node"